/* ==|====================
   Layout/About
   ======================= */

.about__content {
	background-color: #333;
	color: white;
	border-radius: .2rem;
	padding: .8rem;
	margin-top: 3vh;
	white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-size: .8rem;
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

