<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Portfolio de Louis Chenais, étudiant en 3ème année à HETIC. Front End Developper en Freelance" />
	<meta property="twitter:card" content="summary"/>
	<meta property="twitter:site" content="@ChucKN0risK"/>
	<meta property="twitter:title" content="Louis Chenais"/>
	<meta property="twitter:description" content="Site de Louis Chenais, Étudiant à HETIC, Freelance Web"/>
	<meta property="twitter:image" content="http://www.jeandecherf.com/img/jean_decherf_cover.jpg"/>
	<meta property="twitter:url" content="http://www.louischenais.fr"/>
	<meta property="og:title" content="Louis Chenais Étudiant à Hetic - Freelance"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.louischenais.fr"/>
	<link rel="author" href="https://plus.google.com/u/0/112767923455448568017/posts">
	<title>Louis CHENAIS | Portfolio</title>
  <base href="<?php echo $BASE; ?>/" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="public/build/css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="style.css" media="screen, handheld" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="enhanced.css" media="screen  and (min-width: 40.5em)" /> -->
	<!--[if (lt IE 9)&(!IEMobile)]>
	<link rel="stylesheet" type="text/css" href="enhanced.css" />
	<![endif]-->
  
</head>
<body>

	<header class="header--home" data-ui-component="Header">

		<a href="#" id="logo" class="header--home__logo">
		  <div class="logo__c"></div>
		  <div class="logo__l"></div>
		  <div class="logo__square"></div>
		</a>

		<nav class="primary-nav" data-ui-component="Main Nav">
			<ul class="primary-nav__list">
				<li class="primary-nav__list__item">
					<a class="item__link" href="#projects">Projets</a>
				</li>
				<li class="primary-nav__list__item">
					<a class="item__link" href="/about">À Propos</a>
				</li>
				<li class="primary-nav__list__item">
					<a class="item__link" href="/contact">Contact</a>
				</li>
				<!-- <li class="primary-nav__list__item">
					<a class="item__link" href="/blog">Blog</a>
				</li> -->
			</ul>
		</nav>

	</header>

	<div class="section section--description" data-ui-component="Description Text">

			<h1 class="description__title"><span class="title__name">Louis Chenais</span></h1>

		  <p class="description__text">
		  	Bien le bonjour, je m'appelle Louis Chenais, j'ai 22 ans et je suis un développeur Front-End qui aime la belle typographie et les animations soignées. Actuellement étudiant à <a class="description__link" href="www.hetic.net">HETIC</a>, la grande école de l'internet, je compte y décrocher mon diplôme en 2017. J'aime faire chauffer ma matière grise sur du design et créer des interfaces bien réfléchies.
				<br/><br/>Au fait, je suis actuellement disponible en tant que Freelance et <a class="description__link" href="mailto:lchenais@gmail.com">je suis à la recherche d'un stage pour cet été</a>.
			</p>

	</div>

	<div class="section section--projects" id="projects" data-ui-component="Projects Section">

		<h2 class="section__title">Projets</h2>

		<div class="project">
			<h3 class="project__title">Pleazy</h3>
			<p class="project__infos">Rôle : <span>Développeur Front-End</span></p>
			<p class="project__infos">Contexte : <span>Projet Scolaire</span></p>
			<p class="project__infos">Date : <span>Février 2015</span></p>
			<p class="project__description">
				Pleazy est une plateforme qui a pour rôle de faciliter l’achat de cadeaux. Chaque personne regroupée au sein d’un même cercle possède deux listes. Une liste d’envies regroupant l’ensemble de ses idées de cadeaux visible par les autres membres du cercle. Et une liste d’achats qui correspond aux cadeaux qu’elle compte offrir aux autres membres. Avec ce projet nous voulions rendre plus facile la recherche et l’achat de cadeaux. 
			</p>
			<a class="project__link" href="http://74f73e3d44.url-de-test.ws">Voir le projet</a>
		</div>

		<div class="project">
			<h3 class="project__title">Le Grand Tour des Lumières</h3>
			<p class="project__infos">Rôle : <span>Chef de Projet & Développeur Front-End</span></p>
			<p class="project__infos">Contexte : <span>Semaine Intensive</span></p>
			<p class="project__infos">Date : <span>Décembre 2014</span></p>
			<p class="project__description">
				Durant deux semaines intensives, nous avions carte blanche ou presque. Une seule consigne : choisir un thème parmi une liste et orienter son projet en fonction de ce dernier. Nous avons choisi le thème de la lumière par lequel nous avons abouti à un parcours ludique et éducatif sur cette belle période que fut le siècle des lumières.
			</p>
			<a class="project__link" href="bit.ly/1z2CalG">Voir le projet</a>
		</div>

		<div class="project">
			<h3 class="project__title">DCF Premier</h3>
			<p class="project__infos">Rôle : <span>UI/UX Designer, Développeur Front-End</span></p>
			<p class="project__infos">Contexte : <span>Projet Freelance</span></p>
			<p class="project__infos">Date : <span>Janvier 2013 à Février 2014</span></p>
			<p class="project__description">
				Il m’a été confié durant cette période la refonte complète du site des DCF Premiers du réseau des Directeurs Commerciaux de France. J’ai ainsi pu m’améliorer sur les compétences suivantes : développement, graphisme et relation client.
			</p>
			<a class="project__link" href="www.dcfpremier.fr">Voir le projet</a>
		</div>

	</div>
	
	<div class="section section--about" data-ui-component="About Section">

		<h2 class="section__title">À Propos</h2>

		<pre class="about__content">var louis = {
  age: 22,
  city: 'Paris',
  school: 'HETIC',
  status: '3rd year student',
  trainings: ['Git','Gulp','Sass'],
  role: 'Front-End Developer’,
  thingsILove: [
	    'Connected Objects',
	    'All Kinds Of Animations',
	    'Typography',
	    'Fast Loading Websites',
	    'Electronic Music',
	    'Smiling',
	    'Building Things For People',
	    'Internet'
  ]
		}</pre>

	</div>
	
	<div class="section section--contact" data-ui-component="Contact Section">
		
		<h2 class="section__title">Contact</h2>
		
		<p class="contact__text">
			<span class="contact__text__title">Je ne mords pas !</span>
			<br>Si vous souhaitez me parler d'un projet ou même me poser une question vous êtes le bienvenu.<br>
			<a href="mailto:contact@louischenais.fr" class="contact__mail">contact@louischenais.fr</a>
		</p>

		<div class="contact__link-wrapper">

			<a href="https://twitter.com/ChucKN0risK" class="contact__link">
			<i class="icon-twitter"></i>
			</a>
			<a href="http://codepen.io/ChucKN0risK" class="contact__link">
				<i class="icon-codepen"></i>
			</a>
			<a href="https://github.com/ChucKN0risK" class="contact__link">
				<i class="icon-github"></i>
			</a>
			<a href="https://medium.com/@chuckn0risk" class="contact__link">
				<i class="icon-medium"></i>
			</a>
			<a href="fr.linkedin.com/in/louischenais" class="contact__link">
				<i class="icon-linkedin"></i>
			</a>
			<a href="http://luchosmansion.tumblr.com/" class="contact__link">
				<i class="icon-tumblr"></i>
			</a>
		</div>

	</div>
	
  <!-- Dans une page HTML les parties de code qui se repetent se stockent dans un partial -->
</body>
</html>