<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<title>Louis Chenais | <?php echo $work['name']?></title>
	<meta name="description" content="">
  <base href="<?php echo $BASE; ?>/" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
  
</head>
<body>
  <!-- Dans une page HTML les parties de code qui se repetent se stockent dans un partial -->
  <!-- les partials sont des elements qui se repeat plusieurs fois sur une meme page. Donc ici c'est work.html. -->
	<!-- Sur chaque page qu'est-ce que j'aurai ?
		Faire la base de données avant de coder
	-->
  <p><?php echo $work['name']; ?></p>
</body>
</html>



